# Apriori Algorithm

* Apriori algorithm is used to find out the most frequently and commonly purchased itemset in the market

In [56]:
import pandas as pd

In [57]:
df=pd.DataFrame({'transaction_id':[1,2,3,4],'items_list':[['i1','i3','i4'],['i2','i3','i5'],['i1','i2','i3','i5'],['i2','i5']]})

* The dataset consists of 2 columns :

1. transaction_id : tells the transaction id of the set of items purchased

2. items_list : describes the name of the item

In [58]:
x=[]
for i in df['items_list']:
  x.extend(i)
x=list(set(x))

In [59]:
y,z,w,k,dup=[],[],[],1,[]
for i in x:
  dup.append([i])
x=dup
count=[0]*len(x)

In [60]:
x[0]

['i3']

In [61]:
while True:
  k+=1
  i,j=0,0
  while i<len(x):
    c=0
    for l in x[i]:
      if l in df['items_list'][j]:
        c+=1
    if c==len(x[i]):
      count[i]+=1
    j+=1
    if j==len(df):
      print(x[i],count[i])
      i+=1
      j=0
  w,y,v=[],[],0
  while v<len(count):
    if count[v]>1:
      y.append(x[v])
      w.append([x[v],count[v]])
    v+=1
  def d(u):
    return u[1]
  if len(w)>0:
    z.extend(sorted(w,key=d))
  if len(y)>1:
    i,j,x=0,1,[]
    while i<len(y)-k+1:
      m=list(set(y[i]+y[j]))
      if len(m)==k and m not in x:
        x.append(m)
      j+=1
      if j==len(y):
        i+=1
        j=i+1
    if len(x)>0:
      count=[0]*len(x)
  else:
    break

['i3'] 3
['i1'] 2
['i4'] 1
['i2'] 3
['i5'] 3
['i1', 'i3'] 2
['i2', 'i3'] 2
['i5', 'i3'] 2
['i1', 'i2'] 1
['i1', 'i5'] 1
['i2', 'i5'] 3
['i1', 'i2', 'i3'] 1
['i1', 'i5', 'i3'] 1
['i2', 'i5', 'i3'] 2

In [67]:
z.reverse()
items_sets,support_count=[],[]
for i in z:
  items_sets.append(i[0])
  support_count.append(i[1])
df1=pd.DataFrame({'items_sets':items_sets,'support_count':support_count})

# Itemsets and their support counts

In [68]:
df1

     items_sets  support_count
0  [i2, i5, i3]              2
1      [i2, i5]              3
2      [i5, i3]              2
3      [i2, i3]              2
4      [i1, i3]              2
5          [i5]              3
6          [i2]              3
7          [i3]              3
8          [i1]              2

# The itemset which have highest support count is **[i2,i5,i3] => 2** which means people are more frequently and commonly purchasing i2,i5,i3 items in associative manner